<form method="post" action="/login">
    <input name="user" placeholder="Usuari" require /> <br>
    <input type="password" name="password" placeholder="Contrasenya" require/> <br>
    <input type="submit"/>
</form>

