<form method="post" action="/login" style="padding: 5%">
  <div class="mb-3" >
    <label class="form-label">Usuari</label>
    <input class="form-control" name="user" aria-describedby="userH">
    <div id="userH" class="form-text">Shhh! L'usuari es admin</div>
  </div>
  <div class="mb-3">
    <label class="form-label">Contrasenya</label>
    <input type="password" class="form-control" aria-describedby="passH" name="password">
    <div id="passH" class="form-text">La contrasenya també es admin</div>
  </div>
  <button type="submit" class="btn btn-secondary">Entrar</button>
</form>

